extends ../layout

block content
    .users-page-container

      .users-page-nav
        p.label-text Actions
        a.nav-item(href='/users/create')
          img(src='/images/icons/user_add.png', alt='Add User', width='14', height='14')
          p.nav-link-text Create User

      .users-page-table-container
        h1 Users List
        p Here you can manage all the users in the system.

        table.users-table
          thead
            tr
              th ID
              th Name
              th Surname
              th Email
              th Role
              th Department
              th Actions

          tbody
            if users && users.length > 0
              each user in users
                tr
                  td= user.id
                  td= user.name
                  td= user.surname
                  td= user.email
                  td= user.role_name
                  td= user.department_name || 'N/A'
                  td
                    a(href='/users/edit/' + user.id) Edit
                    |  
                    a(
                      href='/users/delete/' + user.id,
                      onclick="return confirm('Are you sure you want to delete this user?');"
                    ) Delete
            else
              tr
                td(colspan='7') No users found